.topHeader{
    /* primer valor es de y, segundo x, tercero difuminado y cuarto color*/
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

}

.topNav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.topNaVaccination{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-vacuna);
    
}

/* Menu */

.Menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Menu li{
    padding: 0 15px;
}

.Menu a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px; /* Alto de linea del Texto*/
    text-transform: uppercase; /*Tamanio de letra*/
    text-decoration: none;

}

.openMenu, .closeMenu {
    display: none;
}

/*Boton Hoax*/
.hoaxBuster{
    font-size: 20px;
    background-color: var(--color-buttons);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 0.5em, 1em;
}
.hoaxBuster:hover{
    filter: brightness(130%);
}

.triangle{
	width: 0;
	height: 0;
	border-width: 0 57px 59px 57px;
	border-color: transparent transparent #F2F2F2 transparent;
	border-style: solid;
	transform: rotate(180deg);
}

@media (max-width: 950px){
    .Menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: white;
        height: 100%;
        overflow-y: auto; /*Agrega una barra si el contenido del menu es mayor al tamanio de la pantalla*/
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .Menu li{
        padding: 0;
    }
    
    .Menu a{
        color: var(--text-color-inverse);
        line-height: 60px; /* Alto de linea del Texto*/
    
    }
    
    .openMenu, .closeMenu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    .closeMenu{
        align-self: flex-end;
        padding: 20px 15px;
    }
    .menuOpened{
        opacity: 1;
        pointer-events: all;
    }

    .openMenu:focus:not(:focus)
    .closeMenu:focus:not(:focus){
        outline: none;

    }
    
}